(
    floor: None,
    status_bar: None,
    message: None,
    is_debug:false,
    key_binding:(
        step: ["<space>"],
        turn_right: ["C-d"],
        turn_left: ["C-a"],
        turn_up: ["C-w"],
        turn_down: ["C-s"],
        turn_up_right: ["C-e"],
        turn_up_left: ["C-q"],
        turn_down_right: ["C-f"],
        turn_down_left: ["C-z"],
        right: ["d"],
        left: ["a"],
        up: ["w"],
        down: ["s"],
        up_right: ["e"],
        up_left: ["q"],
        down_right: ["f"],
        down_left: ["z"],
        dash_right: ["C-d"],
        dash_left: ["C-a"],
        dash_up: ["C-w"],
        dash_down: ["C-s"],
        dash_up_right: ["C-e"],
        dash_up_left: ["C-q"],
        dash_down_right: ["C-f"],
        dash_down_left: ["C-z"],
    )
)